@model IEnumerable<DesafioCrud.Models.Pessoa>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem</h1>

<p>
    <a asp-action="Create">Cadastrar novo registro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
               Data de nascimento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dataNascimento.GetDateTimeFormats()[5])
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.pessoaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.pessoaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.pessoaId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
